.page-header {
    text-align: left;
    padding: 20px 0;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    display: inline-block;
}

.subtitle {
    font-size: 24px;
    font-weight: normal;
    color: grey;
    display: inline-block;
}